body {
    background-color: cyan;
    font-family: sans-serif;
}

#gametitle {
    font-size: 40px;
    margin: 10px;
}

.subtitle {
    font-size: 25px;
    margin: 10px;
}
.explanation {
    font-size: 20px;
    margin: 10px;
}

.room {
    background-color: white;
    width: 10px;
    border: 20px solid black;
    padding: 50px;
    margin: 50px;
}

#label {
    text-align: center;
}

.status_div {
    width: 200px;
    height: 150px;
    border-radius: 100px;
    color: white;
    position: relative;
    float: left;
    margin: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    border: 2px solid black;
    padding-top: 50px;
}

#status_messages {
    float: left;
}

#player_status {
    background: blue;
}

#opponent_status {
    background: red;
}

.clear_float {
    clear: both;
}

.button_style {
    height: 30px;
    width: 180px;
    margin: 0 0 10px 10px;
    padding: 5px 0 0 30px;
    background-color: green;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
    font-size: 1.5em;
}

#game_status_info {
    font-weight: bold;
    font-size: 1.5em;
    margin: 40px;
}

#p_status_info {
    font-weight: bold;
    font-size: 1.5em;
    margin: 40px;
}

#o_status_info {
    font-weight: bold;
    font-size: 1.5em;
    margin: 40px;
}